body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#selectorBttns {
	display: flex;
	flex-direction: column;
	height: 80%;
	justify-content: space-around;
}
#navBar {
	display: flex;
	align-items: space-around;
	align-self: center;
	height: 300px;
	width: 100px;
}
#radioBttns {
	display: flex;
	flex-direction: row;
}
#sketchPad {
	display: flex;
	flex-direction: column;
	height: 400px;
	width: 400px;
	border: 2px solid black;
}
#mainContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100vw;
	margin-right: 400px;
}
